
.circulo{
	height: 20vh;
	width: 20vh;
	border-radius: 100%;
	margin-top: 40vh;
	margin-left: 40%;
	position: fixed;
	background-color: black;
	z-index: 0;
}


.circuloMusica{
	height: 20vh;
	width: 20vh;
	border-radius: 100%;
	margin-top: 40vh;
	margin-left: 40%;
	position: fixed;
	background-color: black;
	z-index: 0;
}

.rectanguloTweet{
	height: 4vh;
	width: 4vh;
	margin-top: 1vh;
	margin-left: 90%;
	position: fixed;
	z-index: 0;
}

.rectanguloFaces{
	height: 4vh;
	width: 4vh;
	margin-top: 1vh;
	margin-left: 93%;
	position: fixed;
	z-index: 0;
}
.gente {
	height: 10vh;
	width: 10vh;
	border-radius: 100%;
	position: absolute;
	background-color: blue;
	z-index: -1;
}

.gente1 {
	height: 12vh;
	width: 12vh;
	border-radius: 100%;
	position: static;
	background-color: red;
	z-index: 1;
	margin-left: 15%
}

.gente1 {
	height: 12vh;
	width: 12vh;
	border-radius: 100%;
	position: absolute;
	background-color: gray;
	z-index: 1;
	margin-left: 40%;
	margin-top: 15%;
}

.gente2 {
	height: 15vh;
	width: 15vh;
	border-radius: 100%;
	position: static;
	background-color: gold;
	z-index: 2;
	margin-left: 80%
}

.gente3 {
	height: 18vh;
	width: 18vh;
	border-radius: 100%;
	position: absolute;
	background-color: orange;
	z-index: -3;
	margin-left: 50%;
	margin-top: 8%;
}

.gente4 {
	height: 25vh;
	width: 25vh;
	border-radius: 100%;
	position: absolute;
	background-color: green;
	z-index: -3;
	margin-left: 80%;
	margin-top: 7%;
}

.gente5 {
	height: 25vh;
	width: 25vh;
	border-radius: 100%;
	position: absolute;
	background-color: red;
	z-index: 3;
	margin-left: 80%;
	margin-top: 10%;
}

.gente6 {
	height: 25vh;
	width: 25vh;
	border-radius: 100%;
	position: absolute;
	background-color: gray;
	z-index: -3;
	margin-left: 90%;
	margin-top: 2%;
}

.gente7 {
	height: 35vh;
	width: 35vh;
	border-radius: 100%;
	position: absolute;
	background-color: gold;
	z-index: 4;
	margin-left: 60%;
	margin-top: 2%;
}

.gente8 {
	height: 35vh;
	width: 35vh;
	border-radius: 100%;
	position: absolute;
	background-color: red;
	z-index: -3;
	margin-left: 40%;
	margin-top: 20%;
}

.gente9 {
	height: 35vh;
	width: 35vh;
	border-radius: 100%;
	position: absolute;
	background-color: green;
	z-index: 5;
	margin-left: 40%;
	margin-top: 30%;
}

.gente10 {
	height: 35vh;
	width: 35vh;
	border-radius: 100%;
	position: absolute;
	background-color: green;
	z-index: -1;
	margin-left: 60%;
	margin-top: 40%;
}

.gente9 {
	height: 35vh;
	width: 35vh;
	border-radius: 100%;
	position: absolute;
	background-color: blue;
	z-index: 1;
	margin-left: 65%;
	margin-top: 40%;
}

.gente10 {
	height: 35vh;
	width: 35vh;
	border-radius: 100%;
	position: absolute;
	background-color: pink;
	z-index: 1;
	margin-left: 700px;
	margin-top: 700px;
}

.gente11 {
	height: 20vh;
	width: 20vh;
	border-radius: 100%;
	position: absolute;
	background-color: pink;
	z-index: 1;
	margin-left: 550px;
	margin-top: 700px;
}

.gente12 {
	height: 100px;
	width: 100px;
	border-radius: 100%;
	position: absolute;
	z-index: 21;
	margin-left: 700px;
	margin-top: 67%;
}

.gente13 {
	height: 100px;
	width: 100px;
	border-radius: 100%;
	position: absolute;
	z-index: 21;
	margin-left: 500px;
	margin-top: 68%;
}

.gente14 {
	height: 100px;
	width: 100px;
	border-radius: 100%;
	position: absolute;
	z-index: -1;
	margin-left: 450px;
	margin-top: 67%;
}

.gente15 {
	height: 100px;
	width: 100px;
	border-radius: 100%;
	position: absolute;
	z-index: 21;
	margin-left: 200px;
	margin-top: 8%;
}

.gente16 {
	height: 100px;
	width: 100px;
	position: absolute;
	z-index: -1;
	margin-left: 500px;
	top: 0;
}

.gente17 {
	height: 100px;
	width: 100px;
	border-radius: 100%;
	position: absolute;
	z-index: -1;
	margin-left: 400px;
	margin-top: 20%;
}

.gente18 {
	height: 100px;
	width: 100px;
	border-radius: 100%;
	position: absolute;
	z-index: 1;
	margin-left: 600px;
	margin-top: 50%;
}

.gente19 {
	height: 100px;
	width: 100px;
	border-radius: 100%;
	position: absolute;
	z-index: 1;
	margin-left: 400px;
	margin-top: 80%;
}

.gente20 {
	height: 100px;
	width: 100px;
	border-radius: 100%;
	position: absolute;
	z-index: 1;
	margin-left: 900px;
	margin-top: 90%;
}
.foooter {
	width: 95%;
	background-color: black;
	height: 10px;
	text-align: center;
	position: relative;
	bottom: 0;
	/* esto sirve para hacer la barra de bot un styky footer*/
	clear: both;
	z-index: 0
	height: 3em;
	margin-top: 98%;
}

h1 {
	color: gold;
}

.imgDance {
	width: 80px;
	height: 80px;
}

.imgGf {
	width: 4vh;
	height: 4vh;
}
body {
	width: 1000px;
	height: 1000px;
	background-image: url("../img/dancefloor.jpg");	
	background-repeat: no-repeat;
}